<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to shittychan</h1>
    <a href="/funny">/funny</a>
    <a href="/not_funny">/not_funny</a>
    <a href="/movies">/movies</a>
    <a href="/music">/music</a>
    <a href="/general">/general</a>
    <%= @test %>

    <%= yield %>

  </body>
</html>
